@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

*:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #f0f0f0 inset;
    -webkit-text-fill-color: inherit;
}

:root {
    --cor-primaria: #D4199D;
    --cor-secundaria: #050C1E;
    --branco: #FFF;
    --cinza-claro: #747A90;
}
 
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b9b9b9;
    min-height: 100vh;
}

@keyframes fade-in {
    from {
        opacity: 0;
        scale: .8;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}

body > div {
    animation: fade-in 1s ease-in-out;
    animation-timeline: scroll;
}
 
.container {
    position: relative;
    width: 65vw;
    height: 75vh;
    background-color: var(--branco);
    border-radius: 15px;
    overflow: hidden;
 
    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: -50%;
        background-color: var(--cor-secundaria);
        z-index: 5;
        transform: translateX(100%);
        transition: 1s ease-in-out;
    }
}
 
.container.sign-up-mode::before {
    transform: translateX(0);
}
 
.container.sign-up-mode .left-panel .content {
    transform: translateX(0);
}
 
.container.sign-up-mode .right-panel .content {
    transform: translateX(200%);
}
 
.container.sign-up-mode form.sign-in-form {
    opacity: 0;
}
 
.container.sign-up-mode form.sign-up-form {
    opacity: 1;
}
 
.container.sign-up-mode .right-panel {
    pointer-events: none;
}
 
.container.sign-up-mode .left-panel {
    pointer-events: all;
}
 
.signin-signup {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 5;
}
 
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    min-width: 238px;
    padding: 15px 20px;
}
 
.title {
    margin-top: 15px;
    font-size: 30px;
    color: var(--cor-primaria);
    margin-bottom: 20px;
}
 
.input-field {
    position: relative;
    height: 45px;
    width: 80%;
    margin: 16px 0;
    background-color: #f0f0f0;
    margin: 6px 0;
    border: none;
    border-radius: 15px;
    display: flex;
    align-items: center;
    padding: 0 10px;
}
 
.input-field svg {
    flex: 0 1 24px;
    text-align: center;
    color: #666;
    size: 24px;
}
 
.input-field input {
    width: 100%;
    background: none;
    outline: none;
    border: none;
    font-size: 15px;
    font-weight: 600;
    color: #444;
    padding-left: 10px;
}
 
.account-text {
    display: none;
}

.account-text a {
    font-weight: 700;
    color: var(--cor-primaria);
}

.icon-modify{
    color: #4B6A89;
    padding: 0 10px;
}
 
input[type="password"]{
    background: #f0f0f0;
    height: 40px;
    color: #000;
    padding-right: 1em;
}
 
input[type="date"]{
    color: #666;
  }
 
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
  }
 
form.sign-in-form {
    opacity: 1;
    transition: .5s ease-in-out;
    transition-delay: 1s;
}
 
form.sign-up-form {
    opacity: 0;
    transition: .5s ease-in-out;
    transition-delay: 1s;
}
 
.btn {
    width: 150px;
    height: 40px;
    border: none;
    outline: none;
    background-color: var(--cor-primaria) ;
    border-radius: .8em;
    color: var(--branco);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
    margin: 15px 0;
    cursor: pointer;
    transition: background-color .5s;
 
    &:hover {
        background-color: #e83eb5 ;
        transition: .5s;
    }
}
 
a {
    text-decoration: none;
}

.panels-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
 
    & .panel {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 22em;
        min-width: 238px;
        padding: 0 10px;
        text-align: center;
        z-index: 6;
 
        & .content {
            color: #fff;
            transition: 1.1s ease-in-out;
            transition-delay: .5s;
        }
 
        & h3 {
            font-size: 32px;
            font-weight: 600;
        }
 
        & p {
            color: var(--cinza-claro);
            font-size: 18px;
            font-weight:400;
            padding: 10px 0;
        }
    }
 
    & .left-panel .content {
        transform: translateX(-200%);
    }
 
    & .left-panel {
        pointer-events: none;
    }
 
    & .right-panel .content {
        transform: translateX(0);
    }
}
 
 
/* responsivo */
 
@media(max-width:779px){
    .container{
        width: 100vh;
        height: 100vh;
    }
}
 
@media(max-width:635px){
    .container::before{
        display: none;
    }
    form{
        width: 80%;
    }
    form.sign-up-form{
        display: none;
    }
    .container.container.sign-up-mode2 form.sign-up-form{
        display: flex;
        opacity: 1;
    }
    .container.container.sign-up-mode2 form.sign-in-form{
        display: none;
    }
    .panels-container{
        display: none;
    }
    .account-text{
        display: initial;
        margin-top: 30px;
    }
}
 
@media(max-width:320px){
    form{
        width: 90%;
    }
}
 